html, body {
  height: 100vh;
  max-height: 100vh;
  
}

body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: '#c4cbd8' !important;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flight_info_sidebar{
  position: fixed !important;
  top: 6em !important;
  right: 1em !important;
  width: 30em;
  z-index: 2000; 
  height: 85%;
  overflow-y: auto;
 
}

.flight_info_sidebar::-webkit-scrollbar {
  width: 0.6em;
}

.searchpanel::-webkit-scrollbar {
  width: 0.4em;
  margin-top: 7em;
}
 
.flight_info_sidebar::-webkit-scrollbar-track {

  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.searchpanel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-top: 7em;
}
 
.flight_info_sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
  outline: 1px solid slategrey;
}

.searchpanel::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid slategrey;
  margin-top: 7em;
}

.searchpanel {
  height: 100vh;
  overflow-y: auto;
}


.searchedPlanes{
  max-height: 15em;
  overflow-y: auto;
  border: '1px solid';
  border-color: white;
}



.searcharea{
  height: 3em;
}

.toolbar {
  position: relative !important;
  top: 5.5em;
  z-index: 2000;
  width:100%
}

.navbar{
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 2000;
  height: 3.5em;
}


.bottom {
  margin-bottom: 0 !important;
}

.top {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.vertical-align-center{
  align-items: center;
}


.leaflet-popup-tip {
  display:none;
}

a.leaflet-popup-close-button{
  display: none;
}

.leaflet-popup-content {
  margin: 0px !important;
  line-height: 0 !important;  
  padding: 0px !important;
  font-size: 0.9em !important;
}


.airport-card {
  width: 24em;
}


.half-card {
  height: 35%;
}

.fav-airports {
  width: 50%;
}


.half-card-flights {
  height: 12em;
  max-height: 12em;
  overflow-y: auto;
}

.half-card-flights::-webkit-scrollbar {
  width: 0.6em;
}

.half-card-flights::-webkit-scrollbar-track {

  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.half-card-flightsr::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
  outline: 1px solid slategrey;
}


.flights {
  line-height: 0.6em;
}

.atc-label {
  font-size: 0.85em !important;
}

.leaflet-popup-content-wrapper {
  background-color: rgb(96, 96, 96) !important;
  color: white !important;
  opacity: 90% !important;
}

.leaflet-tooltip {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-inline: 2px !important;
  background-color: rgb(96, 96, 96) !important;
  color: white !important;
  opacity: 80% !important;
}



.dropdown-menu {
  z-index: 1900;
  position: absolute;
  width: 100%;
  border:rgba(0, 0, 0, 0.3) 1px solid;
  opacity: 90%;


}

.float-box {
  z-index: 1500;
  position: absolute;
  top:12em;
}

@media screen and (max-width: 1175px)  and (min-width:940px){

  article {
    width: 55% !important;
  }

  .searchpanel {
    width: 60% !important;
   
  }

}

@media screen and (max-width: 940px) and (min-width:675px) {

  .searchpanel {
    width: 98% !important;
  
  }

}

@media screen and (max-width: 1600px) and (min-width:1175px) {

  article {
    width: 40% !important;
  }

  .searchpanel {
    width: 45% !important;
  
  }

}

@media (max-width: 675px) {

  html, body {
    height: 100svh !important;
  }
  article {
    width: 88% !important;
  }
  .searchpanel {
    width: 100% !important;
    height: auto !important;
    max-height: 50% !important;
    z-index: 1500;
    position: absolute;
    scroll-behavior: auto;
    border-bottom: 1px black solid !important;
    opacity: 93%;
 
  }
  .toolbar {
    top:auto;
    bottom: 1.2em !important;
    position: absolute !important;
  }
  .home {
    display: block !important;
  }
 
  .fav-airports {
    width: 95%;
  }

}



